global:
  defaultStorageClass: nfs-client

master:
  persistence:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 256Mi
  extraFlags:
    - "--maxmemory 200mb"
    - "--maxmemory-policy allkeys-lru"
  nodeSelector:
    node-role.kubernetes.io/worker: worker

replica:
  replicaCount: 1
  persistence:
    enabled: true
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 256Mi
  extraFlags:
    - "--maxmemory 200mb"
    - "--maxmemory-policy allkeys-lru"
  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 2
  nodeSelector:
    node-role.kubernetes.io/worker: worker
