# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# Tekton task capable of running fosscut CLI
fosscutCLITektonTask:
  name: fosscut-generate
  repository: karolstepanienko/fosscut-cli-native
  tag: ""
  workspaces:
    - name: keystore
      mountPath: "/secrets/keystore.p12"
    - name: truststore
      mountPath: "/secrets/truststore.p12"
    - name: redis-connection-secrets
      mountPath: "/secrets/redis-connection-secrets.yaml"

fosscutCICDPerformanceTektonTask:
  name: fosscut-cicd-performance
  repository: karolstepanienko/fosscut-cli-native
  tag: ""
  computeResources:
    requests:
      cpu: "50m"
      memory: "120Mi"
    limits:
      cpu: "20000m"
      memory: "50Gi"

keystorePath: secrets/keystore.p12
truststorePath: secrets/truststore.p12
redisConnectionSecretsPath: secrets/redis-connection-secrets.yaml
