# nodeSelector:
#   node-role.kubernetes.io/worker: worker

postgresql:
  primary:
    persistence:
      storageClass: nfs-client

logs:
  persistence:
    size: 8Gi
    storageClassName: nfs-client

# Env variables for all containers
env:
- name: "TZ"
  value: "Europe/Warsaw"
