.navbar {
  background-color: gray;
}

.navbar-brand,
.navbar-brand:hover {
  color: white;
}

.action-switch-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-items: center;
  margin-top: 2em;
}

.button-group {
  width: 12em;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  text-align: center;
  place-items: center;
  border: 0; /* remove default border set by bootstrap */
  margin-top: 2em;
  margin-bottom: 10em;
  justify-content: center;
}

.warning {
  color: red;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs-in-container {
  display: flex;
  flex-direction: column;
}

/* Base styling for the input element */
.styled-input {
  width: 14em;
  padding: 0.8em 1em;
  font-size: 16px;
  border: 2px solid gray;
  border-radius: 8px; /* Smooth rounded corners */
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.fosscut-button {
  background-color: gray;
  border-radius: 0.4em;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.fosscut-button:hover {
  border-color: #007BFF;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.25); /* Stronger shadow */
}
.fosscut-button:focus,
.fosscut-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.input-button {
  margin: 1em;
  padding: 0.6em 1em;
}

/* On focus: better visual cue */
.styled-input:focus {
  border-color: #007BFF; /* Highlight border with blue */
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.25); /* Stronger shadow */
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .styled-input {
    width: 90%; /* Make it responsive on smaller screens */
    font-size: 14px;
  }
}

.list {
  margin-inline: 1em;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.item-name-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 14em;
  padding: 0.1em 1em;
  border: 2px solid gray;
  border-radius: 8px; /* Smooth rounded corners */
}

.item-name {
  text-align: center;
  text-overflow: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.item-button {
  margin-right: 1em;
  padding: 0.6em 1em;
}
